<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/style.css">

    <title>Hello, world!</title>




</head>

<body>


    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->







  




    <header>
        <div class="container-fluid d-flex" id="top-bar">

            <img src="resources/images/sectorlogo.png" class="align-self-center" id="logo">
            <li class="nav-item dropdown align-self-center mr-auto">
                <!--                        <div class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">주소록<img src="resources/images/arrow.png" alt="" id="top-arrow"></div>-->
                <a class="nav-link d-none d-md-block" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">주소록&nbsp; <img src="resources/images/arrow.png" id="arrow"></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" id="submenu">

                    <div id="drop-menu">
                        <tr>
                            <td id="drop-items"><a href="#"><img src="resources/images/check.png" id="top-arrow-items"></a></td>
                            <td id="drop-items"><a href="#"><img src="resources/images/human.png" id="top-arrow-items"></a></td>

                            <td id="drop-items"><a href="#"><img src="resources/images/call.png" id="top-arrow-items"></a></td>

                        </tr>

                        <tr>
                            <td id="drop-items"><a href="#"><img src="resources/images/mail.png" id="top-arrow-items"></a></td>
                            <td id="drop-items"><a href="#"><img src="resources/images/cal.png" id="top-arrow-items"></a></td>
                            <td id="drop-items"><a href="#"><img src="resources/images/board.png" id="top-arrow-items"></a></td>
                        </tr>
                    </div>
                </div>
            </li>

            <button class="btn mr d-none d-md-block" id="btn-effect">
                <img src="resources/images/bell.png" id="bell-icon" class="align-self-center" alt="">
            </button>
            <button class="btn d-none d-md-block">
                <img src="resources/images/profile.png" alt="" class="align-self-center" id="profile-icon">
            </button>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <input class="form-control mr-sm" type="search" placeholder="Search" aria-label="Search">
            </nav>
            <button class="btn btn-outline" type="submit"><img src="resources/images/search.png" class="" alt="" id="search-icon"></button>
        </div>


    </header>
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑top bar mid↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <div class="" id="mid-body">
        <nav id="side-menu" class="d-none d-md-block">
            <div id="sidemenu">
                <br>
                <div id="insert-button">
                    <button id="insert-address">주소 추가</button>
                </div>


                <div id="genre">
                    <ul id="sidemenu-content">
                        <li><a href="" id="menu-items">개인 주소록</a></li>
                        <li><a href="" id="menu-items">공유 주소록</a></li>
                        <li><a href="" id="menu-items">휴지통</a></li>
                    </ul>
                    <ul id="sidemenu-dropdown">
                        <div class="accordion" id="accordionExample">
                            <a data-toggle="collapse" href="#edit-menu-dropdown" aria-expanded="false" aria-controls="collapseExample">환경설정&nbsp;<img src="resources/images/arrow.png" id="arrow" alt=""></a>
                            <div id="edit-menu-dropdown" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                                <li><a href="" id="menu-items-drop">기본정보 설정</a>
                                </li>
                                <li><a href="" id="menu-items-drop">주소록 가져오기</a>
                                </li>
                                <li><a href="" id="menu-items-drop">주소록 내보내기</a>
                                </li>
                                <li><a href="" id="menu-items-drop">인쇄하기</a>
                                </li>
                            </div>

                        </div>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row" id="main-table">
            <table class="d-none d-md-block table table-bordered flex container-fluid">
                    <tr class="col">
                       
                        <th scope="col " class="">번호</th>
                        <th scope="col " class="">이름</th>
                        <th scope="col " class="">회사명</th>
                        <th scope="col " class="">나이</th>
                        <th scope="col " class="">주소</th>
                        <th scope="col " class="">직급</th>
                        <th scope="col " class="">이메일</th>

                    </tr>
                    <tr scope="" class="">
                        <td scope=" " class="">1</td>
                        <td scope=" " class="">김형준</td>
                        <td scope=" " class="">자한당</td>
                        <td scope=" " class="">59</td>
                        <td scope=" " class="">서울역지하구석</td>
                        <td scope=" " class="">F4</td>
                        <td scope="" class="">japanese@google.com</td>
                    </tr>
            </table>
            
            <table class="d-block d-md-none table table-bordered flex container-fluid">
                    <tr class="">
                       
                        <th scope="col " class="">번호</th>
                        <th scope="col " class="">이름</th>
                        <th scope="col " class="">회사명</th>
                        <th scope="col " class="">나이</th>

                    </tr>
                    <tr class="">
                        <td scope=" " class="">1</td>
                        <td scope=" " class="">김형준</td>
                        <td scope=" " class="">자한당</td>
                        <td scope=" " class="">59</td>
                    </tr>
            </table>
            <div class="container-fluid ">
                <p class="justify-content-center"><a href="" class="">1</a></p>
            </div>
        </div>
    </div>
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑mid bar bottom↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
    <footer>

    </footer>













    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
    <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>